@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Kdam+Thmor+Pro&family=Roboto+Flex:opsz@8..144&family=Rubik&family=Teko:wght@300&display=swap+Sharp');

/*

use font families

font-family: 'Bebas Neue', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Teko', sans-serif;
*/

.body-home {
    width: 100%;
    height: 95vh;
    background-position: center;
    background-size: cover;
    background-image: url("../images/body3.jpg");
}

.body-home .topic {
    padding-top: 230px;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 400%;
    text-align: center;
}

.body-home .person {
    margin-top: 25px;
    color: orange;
    text-align: right;
    padding-right: 300px;
    font-size: 350%;
    font-style: italic;
}

.brands {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
}

.brands-grid {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1rem;
    grid-template-areas: "a b c d e f";
    padding: 45 45 45 45;
    margin-top: 20px;
    margin-bottom: 20px;
}

.brands-grid .icon1 {
    grid-area: a;
    background-image: url("../images/sup2.jfif");
    background-position: center;
    background-size: cover;
    border-radius: 40px;
}
